# Environnement virtuel
venv/
env/
.env/
.venv/
backend/.env

# Fichiers compilés Python
__pycache__/
*.py[cod]
*$py.class

# Base de données locale
db.sqlite3

# Fichiers de configuration locaux
.env