# Environnement virtuel à la racine
/venv/

# Fichiers dans le dossier backend
/backend/.env
/backend/*.sqlite3
/backend/db.sqlite3

# Fichiers Python compilés (partout dans le projet)
__pycache__/
*.py[cod]
*$py.class

